################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin
/src/obj
/src/.vs/ZipCoords/v16
/src/.vs/ZipCoords/DesignTimeBuild
/src/ZipCoords.sln
